.container {
  background-image: url("../../assets/sunset.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  font-family: Montserrat;
}

.text-container {
  position: absolute;
  left: 31%; 
  top: 50%;
  transform: translate(-50%, -50%); 
  width: 50%;
}

.image-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}